body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: auto;
    height: 250px;
    padding: 4px;
}

.img1 {
    width: auto;
}

.reach {
    background-color: #04AA6D;
    color: azure;
    padding: auto;
    width: 150px;
}

video {
    width: auto;
    height: 400px;
    margin-top: 50px;
}

.videocontainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.navbar {
    background-color: yellow;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav {
    background-color: yellow;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: lightblue;
    color: black;
}

.topnav a.active {
    background-color: #04aa6d;
    color: white;
}


.tab button {
    display: block;
    background-color: #04AA6D;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

.tab button:hover {
    background-color: lightblue;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}

img.konsimg {
    height: 400px;
    width: auto;
    padding: 0%;
    margin-top: 10px;
    max-width: 500px;
    max-height: 500px;
}

a.konsimg {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.subjectBox {
    border: 2px solid green;
    padding-left: 10px;
    padding-right: 10px;
}

.subjectContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 50px;
}


.dropbtn {
    background-color: #04AA6D;
    color: green;
    padding: 16px;
    font-size: 16px;
    border: #04aa6d;
}

.dropbtnact {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: #04aa6d;
}

/*When you are in a side from the dropdown menu*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown a.active {
    background-color: yellow;
    color: green;
    border: solid black;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* For dropdown tab*/

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: lightblue;
    color: white;
}

/* For hovering over a tab*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    background-color: #04AA6D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
}

/* For dropdown content*/

.dropdown-content a:hover {
    background-color: lightblue;
}

/* For hovering on dropdown content*/

.dropdown:hover .dropdown-content {
    display: block;
}



.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: yellow;
}

.navbar a {
    float: left;
    display: block;
    color: #04AA6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: lightblue;
    color: white;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.aboutbox {
    margin-top: 200px;
    margin-bottom: 50px;
}