body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.topnav {
  background-color: yellow;
  overflow: hidden;
  position: fixed;
  top: 1%;
  width: 100%;
  z-index: 1;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightblue;
  color: black;
}

.container {
  text-align: center;
}

.wheel-container {
  position: relative;
}

.wheel {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
  /* Set the background color for the wheel */
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 100%;
  /* Center the text within each section */
}

.pointer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pointer {
  width: 10px;
  height: 150px;
  background-color: red;
  transform-origin: 50% 100%;
  transition: transform 3s ease-out;
}


button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}